.container {
  text-align: center;
  margin-left: 23%;
  margin-right: 23%;
  font-family: "Roboto", sans-serif;
  /* background-color: black; */
}

.druggler {
  font-family: "Ubuntu", sans-serif;
}

.container2 {
  text-align: center;
  /* margin-left: 23%;
    margin-right: 23%; */
  background-color: seagreen;
  width: 100%;
  height: 90.2%;
  font-family: "Roboto", sans-serif;
}

.card-heading {
  background-color: seagreen;
  padding-Top: 5%;
  padding-Bottom: 5%;
  padding-Left: 2%;
  margin-Right: 1%;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  display: inline-block;
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
}

.button-line {
  color: white;
}

.raised-button {
  box-shadow: 3px 30px 5px 2px rgba(255, 105, 135, 0.8);
  background-color: lime;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.navTitle {
  display: inline-block;
}
