.container {
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    
}

.card-heading {
    background-color: seagreen;
    padding: 5%;
    color: white;
}

.button-line {
    color:white;
}